---
import QuizComponentImage from '../components/QuizComponentImage.jsx';

// Define your data here
const quizData = {
  uniqueID: "23",
  question: "What caption was famously associated with the first ever meme depicted here?",
  answers: [
    { text: "a) Do you pronounce it meme or meme?", isCorrect: false },
    { text: "b) Brace yourselves, cat jokes are coming", isCorrect: false },
    { text: "c) I can has cheezburger", isCorrect: true },
    { text: "d) I said meow", isCorrect: false },
  ],
  pointAmount: 200,
  modalImageUrl: "https://i.imgur.com/J8Qul7T.jpeg",

};
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Page</title>
</head>
<body>
  <!-- Render your component and pass props directly -->
  <QuizComponentImage
  client:load
  uniqueID={quizData.uniqueID}
  question={quizData.question}
  answers={quizData.answers}
  pointAmount={quizData.pointAmount}
  modalImageUrl={quizData.modalImageUrl}
/>
</body>
</html>
